<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Info MK</title>
    <!--bootstrap JavaScript  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/views/css/more-info.css" />
  </head>
  <body>
    <main>
      <div class="container-info">
        <div class="info">
          <h1>Mortal Kombat</h1>
          <p>
            
            Mortal Kombat 11 (comúnmente abreviado como MK11) es un videojuego
            de lucha desarrollado por NetherRealm Studios y publicado por Warner
            Bros. Interactive Entertainment. Se ejecuta en una versión muy
            modificada de Unreal Engine 3,1​ es la undécima entrega principal de
            la serie Mortal Kombat y una secuela de 2015 Mortal Kombat X.
            Anunciado en The Game Awards 2018, el juego se lanzó en Norteamérica
            y Europa el 23 de abril de 2019 para Microsoft Windows, Nintendo
            Switch, PlayStation 4 y Xbox One. La versión Switch se retrasó en
            Europa y se lanzó el 10 de mayo de 2019.2​ Tras su lanzamiento, las
            versiones de consola de Mortal Kombat 11 recibieron críticas
            generalmente favorables, que elogiaron la jugabilidad, la historia,
            los gráficos y el código de red mejorado, pero recibió críticas por
            la presencia de microtransacciones y la excesiva dependencia de
            grind. <br>
            Mortal Kombat 11 (comúnmente abreviado como MK11) es un
            videojuego de lucha desarrollado por NetherRealm Studios y publicado
            por Warner Bros. Interactive Entertainment. Se ejecuta en una
            versión muy modificada de Unreal Engine 3,1​ es la undécima entrega
            principal de la serie Mortal Kombat y una secuela de 2015 Mortal
            Kombat X. Anunciado en The Game Awards 2018, el juego se lanzó en
            Norteamérica y Europa el 23 de abril de 2019 para Microsoft Windows,
            Nintendo Switch, PlayStation 4 y Xbox One. La versión Switch se
            retrasó en Europa y se lanzó el 10 de mayo de 2019.2​ Tras su
            lanzamiento, las versiones de consola de Mortal Kombat 11 recibieron
            críticas generalmente favorables, que elogiaron la jugabilidad, la
            historia, los gráficos y el código de red mejorado, pero recibió
            críticas por la presencia de microtransacciones y la excesiva
            dependencia de grind. <br>
            Mortal Kombat 11 (comúnmente abreviado como
            MK11) es un videojuego de lucha desarrollado por NetherRealm Studios
            y publicado por Warner Bros. Interactive Entertainment. Se ejecuta
            en una versión muy modificada de Unreal Engine 3,1​ es la undécima
            entrega principal de la serie Mortal Kombat y una secuela de 2015
            Mortal Kombat X. Anunciado en The Game Awards 2018, el juego se
            lanzó en Norteamérica y Europa el 23 de abril de 2019 para Microsoft
            Windows, Nintendo Switch, PlayStation 4 y Xbox One. La versión
            Switch se retrasó en Europa y se lanzó el 10 de mayo de 2019.2​ Tras
            su lanzamiento, las versiones de consola de Mortal Kombat 11
            recibieron críticas generalmente favorables, que elogiaron la
            jugabilidad, la historia, los gráficos y el código de red mejorado,
            pero recibió críticas por la presencia de microtransacciones y la
            excesiva dependencia de grind.
          </p>
        </div>

        <div class="container">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/views/imagenes/mk1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/views/imagenes/mk2.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/views/imagenes/mk1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
      <div class="volver">
        <button><a href="/index.html">Volver</a></button>
        <button>Añadir a Carrito</button>
      </div>
    </main>
  </body>
</html>
