<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Info Mario Bross </title>
    <!--bootstrap JavaScript  -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/views/css/more-info.css" />
  </head>
  <body>
    <main>
      <div class="container-info">
        <div class="info">
            <h1>Super Mario Bros</h1>
          <p>
            Super Mario Bros. o Super Mario Brothers (スーパーマリオブラザーズ
            Sūpā Mario Burazāzu?, lit. Superhermanos Mario) es un videojuego de
            plataformas, diseñado por Shigeru Miyamoto, lanzado el 13 de
            septiembre de 1985 y producido por la empresa japonesa Nintendo,
            para la consola Nintendo Entertainment System (NES). El juego
            describe las aventuras de los hermanos Mario y Luigi, personajes que
            ya protagonizaron el arcade Mario Bros. de 1983. En esta ocasión
            ambos deben rescatar a la Princesa Peach del Reino Champiñón que fue
            secuestrada por el rey de los Koopas, Bowser. A través de ocho
            diferentes mundos, los jugadores pueden controlar a alguno de los
            dos hermanos y deben enfrentarse finalmente tras los niveles
            correspondientes de cada mundo a los monstruos de cada castillo para
            rescatar a la Princesa Peach. Super Mario Bros. fue el juego que
            popularizó al personaje de Mario,4​ convirtiéndolo en el ícono
            principal de Nintendo, y uno de los personajes más reconocidos de
            los videojuegos, así como su hermano menor Luigi. Además, presentó
            por primera vez a la Princesa Peach Toadstool, Toad, Bowser, entre
            otros personajes. Este juego es considerado el primer videojuego de
            plataformas de desplazamiento lateral de Nintendo y se ha convertido
            en un hito debido a la trascendencia de su diseño y papel en la
            industria de los videojuegos. Su lanzamiento fue el primer gran
            récord de ventas posterior a la crisis de la industria de los
            videojuegos de 1983 (alcanzando más de 10 millones de cartuchos
            vendidos), por lo que popularizó, en cierta manera, a la consola
            NES. En 1999 fue reconocido como uno de los videojuegos más vendidos
            de todos los tiempos.5​ Shigeru Miyamoto, su creador, relata la
            existencia de Super Mario Bros. debido a que cuando viajaba en un
            tren le gustaba mirar por la ventana, y se imaginaba que estaba allí
            saltando afuera.6​ Debido a la popularidad de Mario, se encuentra
            también en otros videojuegos como el original Donkey Kong y Super
            Smash Bros. Tras su éxito comercial, tuvo una secuela directa,
            conocida en fuera de Japón como Super Mario Bros.: The Lost Levels,
            ya que en occidente se comercializó como la secuela directa una
            variación de otro juego en el que había participado Miyamoto, Yume
            Koujou Doki Doki Panic!, debido a que se consideró la versión
            lanzada en Japón como demasiado difícil. Tuvo también una variedad
            de versiones «alternas», como All Night Nippon Super Mario Bros.,
            así como adaptaciones a arcade, películas y series de televisión. El
            13 de septiembre de 2010 se conmemoró el 25º aniversario del juego
            desde su salida para la Famicom en Japón, así como el 25°
            aniversario de la franquicia. En noviembre de 2010 la ciudad
            española de Zaragoza dedicó una avenida al famoso fontanero.7​
          </p>
        </div>

        <div class="container">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  src="/views/imagenes/mb1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/views/imagenes/mb2.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
              <div class="carousel-item">
                <img
                  src="/views/imagenes/mb1.jpg"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

      </div>

      <div class="volver" >
        <button><a href="/index.html">Volver</a></button>
        <button>Añadir a Carrito </button>
      </div>
    </main>
  </body>
</html>
